.footer {
    border-top: 2px solid color(primary);
    grid-column: 1/-1;
    grid-row: 4/5;
    padding: 4.8rem 0;
    @include flexPosition(space-around, flex-start);

    @include responsive(tab-land){
     flex-wrap: wrap;
    }
}

.footer_nav {
    @include footerList;
}

.contact {

     @include responsive(tab-port){
          order: 1;
          width: 80%;
          margin-top: 4rem;
     }
    &_heading {
        font-size: size(lg);
        color: color(primary);

        // @include responsive(lg){
        //   margin-top: 4rem;
        // }
    }

    &_paragraph {
        font-size: size(xs);
        margin: 1rem 0;
    }

    .inputs_group {
        display: flex;

        input {
            padding: 1rem;
            font-size: size(xs);
            margin: 1rem 0.5rem;
            outline: none;
            border-radius: 0.3rem;
            border: 0.1rem solid darken(color(primary), 10%);
            transition: border 0.3s;

            &:focus:not([type="submit"]) {
                border: 0.1rem solid darken(color(quaternary), 30%);
            }
        }

        &_text {
            width: 50%;
        }
        &_email {
            width: 60%;
        }
        &_btn {
            width: 40%;
            color: color(secondary);
            background-color: lighten(color(primary), 20%);
            transition: background-color 0.2s;

            &:hover {
                background-color: color(primary);
            }
        }
    }

    .social_icons {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        list-style: none;
        margin-top: 2rem;
     
     &_link {
             text-decoration: none;
            border: 0.2rem solid color(primary);
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            @include flexPosition;

            i{
               font-size: size(md)
            }
        }
    }
};

$socialMediaColors: 1 #3b5998, 2 #be1217, 3 #dc4e41, 4 #55acee, 5 #517fa4, 6 #0077b5;

@each $color in $socialMediaColors{
     .social_icons_item:nth-child(#{nth($color, 1)}) 
     .social_icons_link{
          color: nth($color, 2);
          border: .1rem solid nth($color, 2);
     }
};

.contact_list{
     @include footerList;
};
